@media screen and (max-width: 600px) {
    body {
        color: blue;
    }
}

@media screen and (min-width: 600px) and (max-width: 1000px) {
    body {
    color: red;
    }
}

@media screen and (min-width: 1000px) {
    body {
    color: green;
    }
}
